.header__inner{
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  padding: 12px 6%;
  margin: 0 auto;

  @include mq('sm'){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo{
  @media not all and (min-width: 640px){
    text-align: center;
  }
  font-size: 20px;
}

.header__cta{
  @media not all and (min-width: 640px){
    display: none;
  }

  background: $color-main;
  border-radius: 24px;
  color: #fff;
  padding: 8px 0px 8px 16px;
  position: relative;
  width: 200px;
  text-align: center;

  &:before{
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/tel.svg) no-repeat center center/contain;
  }
}

