.section{
  padding: 48px 0;

  @include mq('sm'){
    padding-bottom: 64px;
  }

  @include mq('lg'){
    padding: 64px 0;
  }
}

.section + .section{
  padding-top: 0;
}

.section-bg{
  padding: 48px 0;
  background: $color-bg;
}

.section__heading{
  font-size: 20px;

  span{
    color: $color-main;
  }

  @include mq('sm'){
    text-align: center;
  }

  @include mq('lg'){
    font-size: 28px;
  }

  @media not all and (min-width: 640px){
    br{
      display: none;
    }
  }
}

.section__title{
  font-size: 20px;
  position: relative;
  text-align: center;
  padding-bottom: 12px;

  span{
    color: $color-main;
  }

  &:before{
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    z-index: 1;
    right: 0;
    left: 0;
    width: 80px;
    margin: 0 auto;
    background: $color-main;
  }

  &:after{
    z-index: 2;
    right: 0;
    left: 40px;
    width: 40px;
    margin: 0 auto;
    background: #000;
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
  }

  @include mq('lg'){
    font-size: 32px;
  }
}

.section__contents{
  padding-top: 24px;

  @include mq('lg'){
    padding-top: 32px;
  }
}