@use "../setting/setting";
.c-section{
  padding: 40px 0;
}


.c-section__contents{
  h2{
    position: relative;
    font-size: 18px;
    font-family: "Noto Serif JP",serif;

    &:after{
      content: '';
      height: 1px;
      width: 20%;
      position: absolute;
      bottom: -16px;
      left: 0;
      background: #000;
    }
  }  
}

.c-section__body{
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}

.c-section__contents{
  margin-left: 52px;
}

.c-section__texts{
  margin-top: 40px;

  p{
    font-size: 14px;
    line-height: 2.2;
    margin-bottom: 16px;
  }
}

@media (min-width: 1024px){
  .c-section{
    padding: 64px 0;
  }
}