.toggle{
  max-width: 800px;
  margin: 0 auto;
}

.toggle_contents{
  padding-top: 32px;

  &:not(:last-child){
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 24px;
  }
}

.q{
  display: inline-block;
  font-weight: bold; 
  margin-right: 8px;
  background: $color-main;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  font-family: Montserrat,sans-serif;
  padding-top: 2px;
}

.a{
  display: inline-block;
  font-weight: bold; 
  margin-right: 8px;
  background: $color-sub;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  color: $color-main;
  border-radius: 50%;
  font-family: Montserrat,sans-serif;
  padding-top: 2px;
}

.toggle_title {
	position: relative;
	cursor: pointer;
  display: flex;
  font-weight: bold;
}

dd{
  display: flex;
  margin-top: 12px;
}
